body{
    background-color: lightgray;
    height: 100vh;
    font-family: Arial;
    color: rgb(102, 101, 101);
}

.card{
    background-color: white;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 15px 10px 15px;
}

.stat-item{
    display: flex;
    align-items: center;
    gap: 1em;
}

.stat-item p{
    font-weight: bold;
    color: black;
}

.stat-item i{
    color: red;
    padding: 10px;
    background-color: #ff000020;
    border-radius: 5px;
}

.stats-container{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
}

.gray-container{
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 1em;
    padding: 1em;
}

.left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.button{
    background-color: rgb(23, 23, 105);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
}

.button:hover{
    background-color: rgb(66, 66, 233);
}
