body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9f6cf;
    font-size: 20px;
    margin: 0;
}

#theForm{
    color: white;
    display: table;
    padding: 15px;
    background-color: #2c8f77;
    border: solid black 2px;
}

.row{
    display: table-row;
}

.row label{
    display: table-cell;
    padding: 2px;
    /* text-align: right; */
}

.row input{
    display: table-cell;
    padding: 2px;
}

/* Strategies */

#left{
    margin: 15px;
    padding: 10px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: aquamarine;
}

#center{
    margin: 15px;
    padding: 10px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: bisque;
}

#right{
    margin: 15px;
    padding: 10px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: cadetblue;
}

#left, #center, #right{
    width: 100px;
}

#left, #center, #right{
    width: 300px;
}


/* Opacity property*/

#box1{
    height: 300px;
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: blue;
}

#box2{
    height: 300px;
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: blue;
    /* opacity: 0.4; */
}

#box2:hover{
    /* opacity: 1.0; */
}

/* linear Gradient */
#box3{
    width: 800px;
    height: 300px;
    float: left;
    background: blue;

    /* 30deg */
    /* background: linear-gradient( to top right, blue 50%, yellow 50%); */

    /* background: linear-gradient(to right, rgba(255,0,0,0.3), rgba(0,0,255,1.0)); */
}

/* Text shadow */
#text1{
    text-align: center;
    font: bold 60px helvetica;
    /* text-shadow: 3px 3px 5px orange,
                 6px 6px 10px blue; */
}

#text2{
    text-align: center;
    font: bold 60px helvetica;
    /* text-shadow: 6px 6px 10px rgba(0, 0, 255, 0.7); */
}

/* Box shadow */
#box4{
    width: 800px;
    height: 300px;
    float: left;
    background: yellowgreen;
    /* box-shadow: 15px 15px 5px 30px  blue; */
    /* box-shadow: inset 0 0 15px black; */
}