body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #FF64FF;
    font-size: 25px;
}
h1, h2{
    background-color: aqua;
    text-align: center;
    color: red;
    border-bottom: 1px solid black;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color: purple;
}
.blue{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.green{
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.underline{
    text-decoration: underline;
}
.font-sizes{
}