body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9f6cf;
    font-size: 20px;
    margin: 0;
}
h1, h2{
    background-color: aqua;
    text-align: center;
    color: red;
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
}
h1{
    color: purple;
}

/*Third page styles*/

/*float property*/
.floating-div1{
    background-color: aqua;
    border: black solid 2px;
    width: 300px;
    float: left;
}

.floating-div2{
    background-color: rgb(218, 179, 235);
    border: black solid 2px;
    width: 50%;
    float: right;
}

/*position property*/
.absolute-div{
    background-color: brown;
    color: azure;
    position: absolute;

    top: 350px;
    left:250px
}

/*position property*/
.overflow-div{
    background-color: rgb(4, 239, 247);
    color: rgb(158, 7, 164);
    top: 350px;
    left:250px;
    height: 120px;
    overflow: scroll;
    cursor: url(images/mail.ico), default;
}

/* Cursor property*/
.cursor-button{
    cursor:crosshair
}

a:hover{
    cursor: pointer;
}

/* Text and Image*/

.imageintext-div{
    background-color: darkkhaki;
    border: black dotted 3px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.zimmer-image{
    font: optional;
    /* border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 300px; */
}

/* Relative Positioning */
.relative-div1{
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.relative-div2{
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    /* position: relative; */
}

#par{
    color: red;
    /* position: relative;
    top: 5px;
    left: 15px; */
}

#square{
    background: red;
    height: 25px;
    width: 25px;
    position: static;

    /* position: relative;
    top: 5px;
    left: 15px; */

    /* position: absolute;
    bottom: 5px;
    left: 15px; */
}

.simple{
    position: absolute;
}

/* Navigation bar*/

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: darkolivegreen;
    color: white;
    display: block;
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 2px;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
ul li a:hover{
    background-color: rgb(211, 253, 169);
    color: black;
}

/* Horizontal nav bar*/

/* #nav{
    background-color: darkolivegreen;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
    font: Tahoma;
}

#nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
#nav li{
    padding: 15px;
    display: inline;
    vertical-align: middle;
}

#nav a{
    text-decoration: none;
    padding:  8px 8px 8px 8px;
    color: aliceblue;
    vertical-align: middle;
}

#nav a:hover{
    background-color: white;
    color: green;
} */

/* Beautiful button  */

/* .button{
    background: #e7e7e7;
    border:  1px solid;
    border-radius: 3px;
    font: 700 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-align:center;
    margin-right: 10px;
    box-sizing: border-box;
}

ul{
    padding: 0;
    list-style-type: none;
}

li{
    display: inline;
}

a{
    color: #666;
    text-decoration: none;
    float: left;
}

a:hover{
    background-color: #dadada;
    color: #000;

} */