body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9f6cf;
    font-size: 20px;
}
h1, h2{
    background-color: aqua;
    text-align: center;
    color: red;
    border-bottom: 1px solid black;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color: purple;
}
.h1-absolute{
    background-color: blue;
    border: solid 3px dashed;
    position: fixed;

    top: 90px;
    left: 825px;
}
.h1-fixed{
    background-color: blue;
    border: solid 3px dashed;
    position: absolute;

    top: 90px;
    left: 825px;
}

.blue{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.green{
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.underline{
    text-decoration: underline;
}
.fonts{
    font-size: 0.8em;
    line-height:2em;
}
.box-model1{
    background-color: antiquewhite;
    color: rgb(74, 141, 249);
    font-size: 50%;
    line-height: 2em;
    border: 5px solid black;
    padding: 20px;
    background-image: url(images/cloud.jpeg);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: dotted;
    border-bottom-color: red;
}
.box-model2{
    background-color: antiquewhite;
    color: rgb(74, 141, 249);
    font-size: 50%;
    line-height: 2em;
    border: 5px solid black;
    padding: 200px 100px 50px 10px;
    margin: 5%;
}

.imagec{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: silver;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.main{
    color: blue;
    font-size: 15px;
    text-align: center;
}
.sub{
    color: rgb(240, 66, 130);
    font-size: 10px;
    text-align: left;
}

.highlight{
    background-color: yellow;
}

/* ============================== */
a:link{
    color: blue;
}
a:visited{
    color: #8c8c9d;
}
a:hover{
    cursor:crosshair;
    color: #f15a51;
}

.second-h1{
    background-color: #f15a51;
    border: black 3px solid;
    padding: 20px;
    margin: 25px;
}

.second-p1{
    background-color: #f15a51;
    border: black 3px solid;
    padding: 20px;
    margin: 25px;
    text-align: justify;
}

.second-p2{
    background-color: #adf868;
    border: black 3px solid;
    padding: 20px;
    margin: 25px;
    height: 100px;
    overflow: scroll;
    cursor:url(images/mail.ico), default;
}
.second-span{
    background-color: chartreuse;
    border: black 3px solid;
    padding: 20px;
    margin: 25px;
}

.second-image{
    background-color: #adf868;
    border: black 3px solid;
    padding: 5px;
    margin: 20px;
    /* margin-bottom: 300px; */
}

.second-div{
    background-color:aqua;
    border: black 3px solid;
    padding: 20px;
    margin: 25px;
}

.second-div1{
    background-color:violet;
    border: black 3px solid;
    width: 300px;
    float: left;
    padding: 20px;
    margin: 25px;
}
.second-div2{
    background-color:violet;
    border: black 3px solid;
    width: 300px;
    float: right;
    padding: 20px;
    margin: 25px;
}



/*Relatives==========================*/

#main1{
    border: 1px dotted black;
    background-color: #e5e4d7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#par{
    color: red;
    position: relative;
    top: 5px;
    left: 5px;
}

#main2{
    border: 1px dotted black;
    background-color: #e5e4d7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#square{
    height:25px;
    width: 25px;
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
}