/* Not acceptable
Your score (in CSS exam): 50 (of 100)
You have lost 50 marks on the exam(-50).
You have not achieved any score in class */

body{
    background-color: rgb(129, 202, 32);
}

h1{
    
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageintext-div{
    text-align: center;
    color: rgb(38, 115, 148);
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    border: 2px rgb(118, 12, 12) solid;
}
