body{
    border-radius: 15px;
    background-color:bisque;
    
    
}



h1{
    color: crimson;
    border: blue 5px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-weight: 200px;
    background: linear-gradient(to top right , blue , yellow);
    height: 100px;

}
.container{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-template-columns: repeat(5);
    
}

legend{
    font-style: italic;
    font-size: 25px;
    color:blue;
    
}

fieldset{
    border: black 2px solid;
    border-radius: 20px;
    background-color:brown;
    border-style:dotted;
    
}

.fieldset1{
    background-color:burlywood;
    
}

.fieldset2{
    background-color:chocolate;
    
}



a:hover{
    color: red;
    cursor:help;
}

#Theform{
    display: table;
    
}

.table{
    display: table-row;
}

.section1{

   
 
    grid-column: 3;
    grid-row: 1;
    
    color: white;
    text-align: center;
    font-size: 20px;
}
.section2{
   
    grid-column: 3;
    grid-row: 3;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    
}
.section3{
    grid-column: 1;
    grid-row: 1;
    color: white;
    text-align: center;
    font-size: 20px;
   
}

.row{
    display: table-row;
}

.row label{
    display: table-cell;
    padding : 2px;
}

.row input{
    display: table-cell;
    padding : 2px;
}

.submit:hover{
    color: blue;
    background-color: cadetblue;
}

.paragragh{
    overflow: scroll;
    height: 150px;
}

.paragragh:hover{
    cursor: move;
}














