body{
    background-color: rgb(255, 230, 227);
    margin: 30px;
    padding: 30px;
    border: 2px dotted black;
    border-radius: 20px;
}
.main-header{
    margin: 1px;
    padding: 20px;
    padding-top: 50px;
    border: 5px solid rgb(25, 0, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to top right, rgb(104, 255, 104), rgb(240, 79, 213));
    height: 100px;
    text-align: center;
    color: rgb(255, 62, 101);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.container-grid{
    display: grid;
    grid-template-columns: 45% auto;
    grid-auto-rows: 280px;
}
.section1{
    grid-column: 2;
    grid-row: 1;
}
.section2{
    grid-column: 2;
    grid-row: 2;
}
.section3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.section1 p{
    text-align: justify;
    height: 100px;
    overflow: scroll;
    cursor: move;
}
legend{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
}
fieldset{
    margin: 15px;
    padding: 20px;
    border: 3px dashed rgb(31, 0, 69);
    border-radius: 15px;
}
.section1 fieldset{
    background-color: rgb(180, 255, 127);
}
.section2 fieldset{
    background-color: aquamarine;
}
 .section3 fieldset{
    background-color: rgb(165, 183, 250);
}
.section2 a{
    font-size: 25px;
    cursor:progress;
}
.section2 a:hover{
    color: rgb(255, 0, 0);
}
#theForm{
    display: table;
}
.row{
    display: table-row;
}
.row label{
    display: table-cell;
    padding: 2px;
    text-align: right;
}
.row input{
    display: table-cell;
    padding: 2px;
}
input[type="submit"]{
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    color: gray;
    border-radius: 5px;
}
input[type="submit"]:hover{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(11, 75, 248);
    border-radius: 5px;
    transform: scale(1.2);
}

